html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}


.hidden{
    display: none;
}
.addBooks{
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.addBookBtn{
    width: 200px;
    margin-bottom: 10px;

}
.books{
    display: flex;
}
.bookContainer{
    padding-right: 20px;

}
footer {
    padding: 10px;
    text-align: center;
}